
.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__link {
  margin-right: 43px;

  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #141517;

  &--prices {
    margin-right: 55px;

    color: #fe7865;
  }
}

.main-nav__toggle {
  display: none;
}

@media (max-width: $tablet-width) {
  .main-nav {
    flex-direction: column;
    width: 100%;
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 72px;
    height: 50px;

    border: none;
    background: transparent;
  }

  .main-nav--closed .main-nav__toggle {
    background-color: #fe7865;

    &::before {
      content: "";

      position: absolute;
      top: 17px;
      left: 25px;

      width: 22px;
      height: 1px;

      background-color: #ffffff;
      box-shadow: 0 6px 0 0 #ffffff, 0 12px 0 0 #ffffff;
    }
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 23px;
      left: 20px;

      width: 30px;
      height: 1px;

      background-color: #d0d0d1;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--closed .main-nav__link {
    display: none;
  }

  .main-nav--opened .main-nav__link {
    display: flex;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__link {
    display: flex;
  }

  .main-nav__link {
    position: relative;

    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    padding: 10px 20px;

    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #48494d;

    background-color: #fbf8f8;

    &::before {
      content: "";

      position: absolute;
      top: 20px;
      right: 40px;

      width: 6px;
      height: 6px;

      border-top: 2px solid #96979f;
      border-right: 2px solid #96979f;

      transform: rotate(45deg);
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav__toggle {
    width: 50px;
  }

  .main-nav--closed .main-nav__toggle {
    &::before {
      left: 15px;
    }
  }

  .main-nav--opened .main-nav__toggle {
    &::before,
    &::after {
      left: 10px;
    }
  }
}
