
.page-header {
  position: relative;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  min-width: $min-width;
  min-height: 99px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 28px;
}

.page-header__logo {
  margin-right: 150px;
  margin-left: 3px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: $tablet-width) {
  .page-header {
    flex-direction: column;
    align-items: flex-start;
    min-height: 48px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .page-header__logo-image {
    margin-left: 20px;

    width: 44px;
    height: 17px;
  }

  .page-header__wrapper {
    width: 100%;
  }

  .page-header__link-tel {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .page-header__logo-image {
    margin-left: 15px;
  }
}
