
.page-header {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  min-height: 99px;
  padding: 10px 20px;
}

.page-header__logo {
  margin-right: 150px;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
}
