
.welcome-image {
  position: relative;
  margin: 0 auto;

  max-width: $max-width;
}

.welcome-image__text {
  position: absolute;
  top: 22%;
  right: 23.1%;

  width: 400px;
}

.welcome-image__heading {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  letter-spacing: -1.10667px;
  color: #ffffff;
}

.welcome-image__paragraph {
  margin-bottom: 35px;

  padding-right: 25px;

  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: -0.466667px;
  color: #ffffff;
}

.welcome-image__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 340px;
  min-height: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;

  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fe7865;
}

@media (max-width: 1300px) {
  .welcome-image__text {
    top: 10%;
  }
}

@media (max-width: $tablet-width) {
  .welcome-image__text {
    right: 50%;
    transform: translateX(50%);
    top: 59px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-image__heading {
    margin-bottom: 3px;

    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
  }

  .welcome-image__paragraph {
    margin-bottom: 9px;

    padding-right: 0;

    text-align: center;
  }

  .welcome-image__link {
    width: 250px;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 10px;
    line-height: 12px;
    font-weight: 500;
  }
}

@media (max-width: $mobile-width) {
  .welcome-image__text {
    top: 35%;

    width: 220px;
  }

  .welcome-image__heading {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .welcome-image__paragraph,
  .welcome-image__link {
    display: none;
  }
}
